# Laskarit

/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/

# Harjoitustyö

/target
/nbproject/

nbactions.xml
AppDatabase.db
PaintProjectManager.db
